APP_NAME="Smart Land Analysis Platform"
APP_ENV=production
DEBUG=False
API_V1_PREFIX=/api/v1
DATABASE_URL=postgresql+asyncpg://postgres.tvsttstdibelxhxhaorg:YOUR_NEW_PASSWORD@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres
DATABASE_URL_SYNC=postgresql+psycopg2://postgres.tvsttstdibelxhxhaorg:YOUR_NEW_PASSWORD@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres
JWT_SECRET_KEY=supersecretkeyraghavan123456789
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7
BACKEND_CORS_ORIGINS=*
REPORTS_DIR=generated_reportsdir
